.buttonsContainer {
}

.responseContainer {
  display: flex;
  padding: 40px 0;
  gap: 2rem;

}

.imageContainer {
}

.image {
}

.textContainer{
display: flex;
  flex-direction: column;
  gap: 5px;
}

.code {
  font-size: 2rem;
  margin-top: 2rem;
}

.text {
}
.info {
}